@import url(https://fonts.googleapis.com/css?family=Poppins:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-down:before {
  content: "\e900";
}

._icon-arrow-down-circle:before {
  content: "\e901";
}

._icon-arrow-next:before {
  content: "\e902";
}

._icon-arrow-next-circle:before {
  content: "\e903";
}

._icon-arrow-prev:before {
  content: "\e904";
}

._icon-arrow-prev-circle:before {
  content: "\e905";
}

._icon-arrow-right:before {
  content: "\e906";
}

._icon-bathroom:before {
  content: "\e907";
}

._icon-bed:before {
  content: "\e908";
}

._icon-facebook:before {
  content: "\e909";
}

._icon-in:before {
  content: "\e90a";
}

._icon-instagram:before {
  content: "\e90b";
}

._icon-room:before {
  content: "\e90c";
}

._icon-star-empty:before {
  content: "\e90d";
}

._icon-star-full:before {
  content: "\e90e";
}

._icon-twitter:before {
  content: "\e90f";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 280px;
}

body {
  color: #333333;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

@supports (padding-left: clamp( 0.9375rem , -40.4419642857rem  +  66.7410714286vw , 19.625rem )) {
  [class*=__container_requirments] {
    padding-left: clamp( 0.9375rem , -40.4419642857rem  +  66.7410714286vw , 19.625rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -40.4419642857rem  +  66.7410714286vw , 19.625rem )) {
  [class*=__container_requirments] {
    padding-left: calc(0.9375rem + 18.6875 * (100vw - 62rem) / 28);
  }
}

@supports (padding-right: clamp( 0.9375rem , -40.4419642857rem  +  66.7410714286vw , 19.625rem )) {
  [class*=__container_requirments] {
    padding-right: clamp( 0.9375rem , -40.4419642857rem  +  66.7410714286vw , 19.625rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -40.4419642857rem  +  66.7410714286vw , 19.625rem )) {
  [class*=__container_requirments] {
    padding-right: calc(0.9375rem + 18.6875 * (100vw - 62rem) / 28);
  }
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.author {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: start;
      justify-self: start;
}

.author__author-image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
  outline: 0.125rem solid rgb(202, 204, 209);
}

.author__author-image-ibg img {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.author__author-name {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #45525B;
  line-height: 140%;
}

.author__author-position {
  font-size: 0.75rem;
  line-height: 140%;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #6F7278;
}

.header {
  background-color: rgba(255, 255, 255, 0.95);
  min-height: 2.875rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 6.375rem;
          flex: 0 1 6.375rem;
  position: relative;
  z-index: 3;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.652173913rem  +  1.6304347826vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.652173913rem  +  1.6304347826vw , 1.875rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 0.9375rem , 0.652173913rem  +  1.6304347826vw , 1.875rem );
       -moz-column-gap: clamp( 0.9375rem , 0.652173913rem  +  1.6304347826vw , 1.875rem );
            column-gap: clamp( 0.9375rem , 0.652173913rem  +  1.6304347826vw , 1.875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.652173913rem  +  1.6304347826vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.652173913rem  +  1.6304347826vw , 1.875rem ))) {
  .menu__list {
    -webkit-column-gap: calc(0.9375rem + 0.9375 * (100vw - 17.5rem) / 57.5);
       -moz-column-gap: calc(0.9375rem + 0.9375 * (100vw - 17.5rem) / 57.5);
            column-gap: calc(0.9375rem + 0.9375 * (100vw - 17.5rem) / 57.5);
  }
}

.menu__link {
  font-size: 0.9375rem;
  line-height: 107%;
  color: #444444;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  background: #292C32;
}

@supports (padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .footer {
    padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .footer {
    padding-top: calc(3.125rem + 3.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .footer {
    padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .footer {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (margin-bottom: clamp( 1.875rem , 1rem  +  5vw , 4.75rem )) {
  .footer__logo {
    margin-bottom: clamp( 1.875rem , 1rem  +  5vw , 4.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1rem  +  5vw , 4.75rem )) {
  .footer__logo {
    margin-bottom: calc(1.875rem + 2.875 * (100vw - 17.5rem) / 57.5);
  }
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copy-right {
  line-height: 140%;
  color: #FFFFFF;
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  color: #FFFFFF;
}

.footer__in {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__facebook {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__instagram {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__twitter {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.middle-footer:not(:last-child) {
  margin-bottom: 1.75rem;
}

.menu-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 39.11%;
  grid-template-columns: 1fr 1fr 1fr 39.11%;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1.625rem;
}

._spoller-init .menu-footer__column_form .menu-footer__title::before,
._spoller-init .menu-footer__column_form .menu-footer__title::after {
  display: none;
}

.menu-footer__title {
  font-size: 0.875rem;
  line-height: 140%;
  color: #FF8A63;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.menu-footer__title:not(:last-child) {
  margin-bottom: 0.5625rem;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 0.5625rem;
}

.menu-footer__link {
  line-height: 140%;
  color: #FFFFFF;
}

.menu-footer__text {
  line-height: 140%;
  color: #FFFFFF;
}

.menu-footer__text:not(:last-child) {
  margin-bottom: 2rem;
}

.menu-footer__row-form {
  height: 3.3125rem;
  background-color: #F9FAFB;
  border: 0.0625rem solid #E5E7EB;
  border-radius: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  gap: 0.4375rem;
  padding: 0.4375rem 0.4375rem 0.4375rem 2.125rem;
  position: relative;
}

.menu-footer__input {
  height: 100%;
  background-color: #F9FAFB;
}

.menu-footer__input._form-focus {
  outline: 1px solid transparent;
}

.menu-footer__button {
  padding: 0.5rem;
  line-height: 140%;
  color: #FFFFFF;
  background-color: #3A4443;
  border-radius: 0.625rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__error {
  position: absolute;
  left: 2.125rem;
  bottom: 0;
  -webkit-transform: translate(0, 1.625rem);
      -ms-transform: translate(0, 1.625rem);
          transform: translate(0, 1.625rem);
  color: red;
}

.no-webp .main-block{
  background: url("../img/main-block/main-background.jpg") center/cover no-repeat; }

.main-block {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 252, 0.78);
}

.main-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  position: relative;
  z-index: 2;
}

.main-block__logo {
  position: relative;
  z-index: 2;
}

.main-block__title {
  line-height: 140%;
  text-align: center;
  color: #45525B;
  max-width: 32.8125rem;
}

@supports (font-size: clamp( 1.625rem , 1.5178571429rem  +  0.5357142857vw , 2rem )) {
  .main-block__title {
    font-size: clamp( 1.625rem , 1.5178571429rem  +  0.5357142857vw , 2rem );
  }
}

@supports not (font-size: clamp( 1.625rem , 1.5178571429rem  +  0.5357142857vw , 2rem )) {
  .main-block__title {
    font-size: calc(1.625rem + 0.375 * (100vw - 20rem) / 70);
  }
}

.main-block__scroll-button {
  position: absolute;
  left: 50%;
  -webkit-animation: scroll-down 1s infinite ease-in-out alternate;
          animation: scroll-down 1s infinite ease-in-out alternate;
}

@supports (bottom: clamp( 2.5rem , 2.1428571429rem  +  1.7857142857vw , 3.75rem )) {
  .main-block__scroll-button {
    bottom: clamp( 2.5rem , 2.1428571429rem  +  1.7857142857vw , 3.75rem );
  }
}

@supports not (bottom: clamp( 2.5rem , 2.1428571429rem  +  1.7857142857vw , 3.75rem )) {
  .main-block__scroll-button {
    bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 70);
  }
}

@supports (font-size: clamp( 3.125rem , 2.875rem  +  1.25vw , 4rem )) {
  .main-block__scroll-button {
    font-size: clamp( 3.125rem , 2.875rem  +  1.25vw , 4rem );
  }
}

@supports not (font-size: clamp( 3.125rem , 2.875rem  +  1.25vw , 4rem )) {
  .main-block__scroll-button {
    font-size: calc(3.125rem + 0.875 * (100vw - 20rem) / 70);
  }
}

@supports (width: clamp( 3.125rem , 2.875rem  +  1.25vw , 4rem )) {
  .main-block__scroll-button {
    width: clamp( 3.125rem , 2.875rem  +  1.25vw , 4rem );
  }
}

@supports not (width: clamp( 3.125rem , 2.875rem  +  1.25vw , 4rem )) {
  .main-block__scroll-button {
    width: calc(3.125rem + 0.875 * (100vw - 20rem) / 70);
  }
}

@supports (height: clamp( 3.125rem , 2.875rem  +  1.25vw , 4rem )) {
  .main-block__scroll-button {
    height: clamp( 3.125rem , 2.875rem  +  1.25vw , 4rem );
  }
}

@supports not (height: clamp( 3.125rem , 2.875rem  +  1.25vw , 4rem )) {
  .main-block__scroll-button {
    height: calc(3.125rem + 0.875 * (100vw - 20rem) / 70);
  }
}

@-webkit-keyframes scroll-down {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  100% {
    -webkit-transform: translate(-50%, 30%);
            transform: translate(-50%, 30%);
  }
}

@keyframes scroll-down {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  100% {
    -webkit-transform: translate(-50%, 30%);
            transform: translate(-50%, 30%);
  }
}

.goal {
  background: #FAFAFC;
}

@supports (padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .goal {
    padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .goal {
    padding-top: calc(3.125rem + 3.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .goal {
    padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .goal {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

.goal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goal__titles {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@supports (padding-right: clamp( 1.875rem , -7.8125rem  +  15.625vw , 6.25rem )) {
  .goal__titles {
    padding-right: clamp( 1.875rem , -7.8125rem  +  15.625vw , 6.25rem );
  }
}

@supports not (padding-right: clamp( 1.875rem , -7.8125rem  +  15.625vw , 6.25rem )) {
  .goal__titles {
    padding-right: calc(1.875rem + 4.375 * (100vw - 62rem) / 28);
  }
}

.goal__title {
  font-size: 0.875rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #FF8A63;
  letter-spacing: 0.125rem;
}

.goal__subtitle {
  line-height: 110%;
  color: #45525B;
}

@supports (font-size: clamp( 2.25rem , 1.985915493rem  +  1.1267605634vw , 3rem )) {
  .goal__subtitle {
    font-size: clamp( 2.25rem , 1.985915493rem  +  1.1267605634vw , 3rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 1.985915493rem  +  1.1267605634vw , 3rem )) {
  .goal__subtitle {
    font-size: calc(2.25rem + 0.75 * (100vw - 23.4375rem) / 66.5625);
  }
}

.goal__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.goal__text {
  line-height: 140%;
}

.goal__text p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.goal__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

@supports (padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .requirments {
    padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .requirments {
    padding-top: calc(3.125rem + 3.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .requirments {
    padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .requirments {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

.requirments__container_requirments {
  row-gap: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-requirments {
  max-width: 37.5rem;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-requirments__title {
  font-size: 0.875rem;
  line-height: 140%;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: #FF8A63;
}

.header-requirments__subtitle {
  font-size: 2.25rem;
  line-height: 120%;
  color: #45525B;
}

.header-requirments__subtitle:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.header-requirments__text {
  font-size: 1.125rem;
  line-height: 120%;
  color: #6F7278;
}

.content-requirments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.content-requirments__image-ibg {
  border-radius: 1.875rem;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  min-height: 36.75rem;
}

.content-requirments__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18.75rem;
          flex: 0 1 18.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.content-requirments__item._active-item {
  background: #FAFAFC;
  border: 0.0625rem solid rgba(202, 204, 209, 0.2);
}

.item-requirment {
  padding: 1.3125rem;
  border-radius: 0.625rem;
}

.item-requirment__icon {
  width: 3rem;
  height: 3rem;
  background: #45525B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-requirment__icon:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-requirment__title {
  font-size: 0.875rem;
  line-height: 140%;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #45525B;
}

.item-requirment__text {
  font-size: 0.875rem;
  line-height: 140%;
  color: #6F7278;
}

.sub-block__image-ibg {
  padding-bottom: 41.6666666667%;
  min-height: 18.75rem;
}

.listings {
  background: #FAFAFC;
}

@supports (padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .listings {
    padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .listings {
    padding-top: calc(3.125rem + 3.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .listings {
    padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .listings {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

.listings__container {
  display: -ms-grid;
  display: grid;
}

.listings__header:not(:last-child) {
  margin-bottom: 1.875rem;
}

.listings__content:not(:last-child) {
  margin-bottom: 1.25rem;
}

.listings__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  gap: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9375rem;
  line-height: 140%;
  color: #45525B;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.listings__link::before {
  -webkit-animation: arrow 1s ease-in-out 0s infinite alternate;
          animation: arrow 1s ease-in-out 0s infinite alternate;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20;
          flex: 0 0 20;
  width: 1.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(0rem, 0.0625rem);
      -ms-transform: translate(0rem, 0.0625rem);
          transform: translate(0rem, 0.0625rem);
}

.listings__link:not(:last-child) {
  margin-bottom: 1.875rem;
}

.header-listings {
  max-width: 37.5rem;
}

.header-listings__title {
  font-size: 0.875rem;
  line-height: 140%;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: #FF8A63;
}

.header-listings__subtitle {
  font-size: 2.25rem;
  line-height: 120%;
  color: #45525B;
}

.header-listings__subtitle:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.header-listings__text {
  font-size: 1.125rem;
  line-height: 120%;
  color: #6F7278;
}

.content-listings__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  row-gap: 1.25rem;
}

.item-listings {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  border-radius: 0.5rem;
}

.item-listings__image-ibg {
  padding-bottom: 70.4485488127%;
}

.item-listings__body {
  padding: 1.25rem 1rem 1.375rem 1rem;
}

.item-listings__apartment-type {
  font-size: 0.75rem;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #6F7278;
}

.item-listings__apartment-address {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 1.25rem;
  line-height: 140%;
  text-align: center;
  color: #45525B;
}

.item-listings__apartment-address:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-listings__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  row-gap: 0.625rem;
}

.item-listings__beds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  font-size: 0.75rem;
  line-height: 140%;
  color: #45525B;
}

.item-listings__beds::before {
  font-size: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
}

.item-listings__bathrooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  font-size: 0.75rem;
  line-height: 140%;
  color: #45525B;
}

.item-listings__bathrooms::before {
  font-size: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
}

.item-listings__rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  font-size: 0.75rem;
  line-height: 140%;
  color: #45525B;
}

.item-listings__rooms::before {
  font-size: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
}

@supports (padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .people {
    padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .people {
    padding-top: calc(3.125rem + 3.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .people {
    padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .people {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

.people__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23rem 1fr;
  grid-template-columns: 23rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2.5rem;
}

@supports ((-moz-column-gap: clamp( 1.25rem , -1.8928571429rem  +  6.5476190476vw , 4rem )) or (column-gap: clamp( 1.25rem , -1.8928571429rem  +  6.5476190476vw , 4rem ))) {
  .people__container {
    -webkit-column-gap: clamp( 1.25rem , -1.8928571429rem  +  6.5476190476vw , 4rem );
       -moz-column-gap: clamp( 1.25rem , -1.8928571429rem  +  6.5476190476vw , 4rem );
            column-gap: clamp( 1.25rem , -1.8928571429rem  +  6.5476190476vw , 4rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -1.8928571429rem  +  6.5476190476vw , 4rem )) or (column-gap: clamp( 1.25rem , -1.8928571429rem  +  6.5476190476vw , 4rem ))) {
  .people__container {
    -webkit-column-gap: calc(1.25rem + 2.75 * (100vw - 48rem) / 42);
       -moz-column-gap: calc(1.25rem + 2.75 * (100vw - 48rem) / 42);
            column-gap: calc(1.25rem + 2.75 * (100vw - 48rem) / 42);
  }
}

.people__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.content-people__title {
  font-size: 0.875rem;
  line-height: 140%;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: #FF8A63;
}

.content-people__subtitle {
  font-size: 2.25rem;
  line-height: 120%;
  color: #45525B;
}

.content-people__subtitle:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.content-people__text {
  font-size: 1.125rem;
  line-height: 120%;
  color: #6F7278;
}

.content-people__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.content-people__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9375rem;
  line-height: 140%;
  color: #45525B;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-people__link::before {
  -webkit-animation: arrow 1s ease-in-out 0s infinite alternate;
          animation: arrow 1s ease-in-out 0s infinite alternate;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20;
          flex: 0 0 20;
  width: 1.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(0rem, 0.0625rem);
      -ms-transform: translate(0rem, 0.0625rem);
          transform: translate(0rem, 0.0625rem);
}

.content-people__link:not(:last-child) {
  margin-bottom: 1.875rem;
}

.newsroom {
  background: #FAFAFC;
}

@supports (padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .newsroom {
    padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .newsroom {
    padding-top: calc(3.125rem + 3.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .newsroom {
    padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .newsroom {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

.newsroom__container {
  display: -ms-grid;
  display: grid;
}

.newsroom__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.newsroom__items:not(:last-child) {
  margin-bottom: 1.25rem;
}

.newsroom__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  gap: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9375rem;
  line-height: 140%;
  color: #45525B;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.newsroom__link::before {
  -webkit-animation: arrow 1s ease-in-out 0s infinite alternate;
          animation: arrow 1s ease-in-out 0s infinite alternate;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20;
          flex: 0 0 20;
  width: 1.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(0rem, 0.0625rem);
      -ms-transform: translate(0rem, 0.0625rem);
          transform: translate(0rem, 0.0625rem);
}

.newsroom__link:not(:last-child) {
  margin-bottom: 1.875rem;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translate(0rem, 0.0625rem);
            transform: translate(0rem, 0.0625rem);
  }

  100% {
    -webkit-transform: translate(0.625rem, 0.0625rem);
            transform: translate(0.625rem, 0.0625rem);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translate(0rem, 0.0625rem);
            transform: translate(0rem, 0.0625rem);
  }

  100% {
    -webkit-transform: translate(0.625rem, 0.0625rem);
            transform: translate(0.625rem, 0.0625rem);
  }
}

.header-newsroom {
  max-width: 37.5rem;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.header-newsroom:not(:last-child) {
  margin-bottom: 1.25rem;
}

.header-newsroom__title {
  font-size: 0.875rem;
  line-height: 140%;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: #FF8A63;
}

.header-newsroom__subtitle {
  font-size: 2.25rem;
  line-height: 120%;
  color: #45525B;
}

.header-newsroom__subtitle:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.item-newsroom {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
  -webkit-box-shadow: 0px 0.1875rem 0.9375rem rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0.1875rem 0.9375rem rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  overflow: hidden;
  background-color: #fff;
}

.item-newsroom__image-ibg {
  overflow: hidden;
  padding-bottom: 56.1170212766%;
  min-height: 12.5rem;
}

.item-newsroom__image-ibg img {
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.item-newsroom__body {
  padding: 1.875rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
}

.item-newsroom__group-title {
  font-size: 0.75rem;
  line-height: 140%;
  color: #FF8A63;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.item-newsroom__group-title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.item-newsroom__subtitle {
  line-height: 120%;
  color: #45525B;
}

.item-newsroom__subtitle:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-newsroom__date {
  font-size: 0.8125rem;
  line-height: 151%;
  color: #6F7278;
}

.item-newsroom__date:not(:last-child) {
  margin-bottom: 0.625rem;
}

@supports (padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .testimonials {
    padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .testimonials {
    padding-top: calc(3.125rem + 3.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

@supports (padding-bottom: clamp( 2.1875rem , 1.4172535211rem  +  3.2863849765vw , 4.375rem )) {
  .testimonials {
    padding-bottom: clamp( 2.1875rem , 1.4172535211rem  +  3.2863849765vw , 4.375rem );
  }
}

@supports not (padding-bottom: clamp( 2.1875rem , 1.4172535211rem  +  3.2863849765vw , 4.375rem )) {
  .testimonials {
    padding-bottom: calc(2.1875rem + 2.1875 * (100vw - 23.4375rem) / 66.5625);
  }
}

.testimonials__slider {
  position: relative;
}

.testimonials__slider:not(:last-child) {
  margin-bottom: 1.25rem;
}

.testimonials__slider::before {
  content: "";
  position: absolute;
  width: 1000%;
  height: 105%;
  top: -2%;
  left: calc(-1000% - 0.9375rem);
  background-color: #fff;
  z-index: 2;
}

.testimonials__slider::after {
  content: "";
  position: absolute;
  width: 1000%;
  height: 105%;
  top: -2%;
  right: calc(-1000% - 38.375rem);
  background-color: #fff;
  z-index: 2;
}

.testimonials__item {
  height: 100%;
}

.testimonials__swiper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.625rem;
}

.testimonials__swiper-buttons .swiper-button-disabled {
  color: rgba(111, 114, 120, 0.5725490196);
  pointer-events: none;
}

.testimonials__swiper-button-prev {
  width: 3.75rem;
  height: 3.75rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.75rem;
          flex: 0 0 3.75rem;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.testimonials__swiper-button-prev::before {
  font-size: 3.75rem;
}

.testimonials__swiper-button-next {
  width: 3.75rem;
  height: 3.75rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.75rem;
          flex: 0 0 3.75rem;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.testimonials__swiper-button-next::before {
  font-size: 3.75rem;
}

.header-testimonials {
  max-width: 37.5rem;
}

.header-testimonials:not(:last-child) {
  margin-bottom: 1.25rem;
}

.header-testimonials__title {
  font-size: 0.875rem;
  line-height: 140%;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: #FF8A63;
}

.header-testimonials__subtitle {
  font-size: 2.25rem;
  line-height: 120%;
  color: #45525B;
}

.header-testimonials__subtitle:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.item-testimonials {
  padding: 1.875rem;
  background: #FFFFFF;
  border: 0.0625rem solid rgba(82, 80, 59, 0.1);
  border-radius: 0.25rem;
}

.item-testimonials_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  color: #45525B;
  min-height: 1.5rem;
  padding-left: 0.75rem;
  border-left: 0.125rem solid #FF8A63;
}

.item-testimonials__title {
  font-size: 1.5rem;
  line-height: 120%;
}

.item-testimonials__title:not(:last-child) {
  margin-bottom: 0.6875rem;
}

.item-testimonials__text {
  font-size: 0.9375rem;
  line-height: 149%;
}

.item-testimonials__text:not(:last-child) {
  margin-bottom: 1.1875rem;
}

.item-testimonials__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.125rem;
}

.star-rating:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.contact-us {
  background: #45525B;
}

@supports (padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .contact-us {
    padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .contact-us {
    padding-top: calc(3.125rem + 3.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .contact-us {
    padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.0246478873rem  +  4.6948356808vw , 6.25rem )) {
  .contact-us {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 23.4375rem) / 66.5625);
  }
}

.contact-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-us__body {
  max-width: 37.5rem;
}

.contact-us__title {
  font-size: 0.875rem;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #FAFAFC;
}

.contact-us__title:not(:last-child) {
  margin-bottom: 0.25rem;
}

.contact-us__subtitle {
  font-size: 2.25rem;
  line-height: 120% x;
  text-align: center;
  color: #FFFFFF;
}

.contact-us__subtitle:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.contact-us__text {
  font-size: 1.125rem;
  line-height: 120%;
  text-align: center;
  color: #FAFAFC;
}

.contact-us__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.contact-us__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
}

.contact-us__link {
  line-height: 140%;
  text-align: center;
  color: #45525B;
  padding: 0.625rem 1.125rem;
  background-color: #FFFFFF;
  border-radius: 0.375rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 73.125em) {
  .testimonials__slider.swiper {
    overflow: visible;
  }
}

@media (max-width: 55em) {
  .menu-footer {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .menu-footer__column_form {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .newsroom__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (orientation: landscape) and (max-width: 61.99875em) {
  .main-block__scroll-button {
    left: 100%;
  }

@-webkit-keyframes scroll-down {
    0% {
      -webkit-transform: translate(-150%, 0);
              transform: translate(-150%, 0);
    }

    100% {
      -webkit-transform: translate(-150%, 30%);
              transform: translate(-150%, 30%);
    }
}

@keyframes scroll-down {
    0% {
      -webkit-transform: translate(-150%, 0);
              transform: translate(-150%, 0);
    }

    100% {
      -webkit-transform: translate(-150%, 30%);
              transform: translate(-150%, 30%);
    }
}
}

@media (max-width: 61.99875em) {
  .content-listings__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .item-listings__footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .people__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .main-block__title {
    padding: 0rem 0.9375rem;
  }

  .goal__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }

  .content-requirments {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }

  .content-requirments__image-ibg {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-height: 18.75rem;
    width: 100%;
  }

  .content-requirments__items {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
    gap: 0.625rem;
  }

  .content-requirments__item {
    width: 100%;
  }
}

@media (max-width: 37.5em) {
  .footer__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__social-links {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 33.75em) {
  .menu-footer__column_form {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  .content-listings__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 33.74875em) {
  .people__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
  }

  .people__item:nth-child(even) {
    -ms-grid-column-align: end;
        justify-self: end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: right;
  }

  .newsroom__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 29.99875em) {
  .lock body {
    overflow: hidden;
    -ms-touch-action: none;
        touch-action: none;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    padding-top: 33vh;
    padding-bottom: 3.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(255, 197, 178, 0.97);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.97);
    height: 3.5625rem;
  }

  .menu-open .menu__body {
    left: 0%;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 3.125rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .menu__link {
    font-size: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu-footer {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 0.625rem;
  }

  .menu-footer__column_form {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .menu-footer__title:not(:last-child) {
    font-size: 1.375rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  ._spoller-init .menu-footer__title:not(:last-child) {
    cursor: pointer;
  }

  ._spoller-init .menu-footer__title:not(:last-child)::before,
  ._spoller-init .menu-footer__title:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 50%;
    background-color: #fff;
    height: 0.125rem;
    width: 0.9375rem;
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    -o-transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  }

  ._spoller-init .menu-footer__title:not(:last-child)::before {
    -webkit-transform: translate(-75%, -50%) rotate(40deg);
        -ms-transform: translate(-75%, -50%) rotate(40deg);
            transform: translate(-75%, -50%) rotate(40deg);
  }

  ._spoller-init .menu-footer__title:not(:last-child)::after {
    -webkit-transform: translate(0, -50%) rotate(-40deg);
        -ms-transform: translate(0, -50%) rotate(-40deg);
            transform: translate(0, -50%) rotate(-40deg);
  }

  ._spoller-init .menu-footer__title:not(:last-child)._spoller-active::before {
    -webkit-transform: translateX(-75%) rotate(-40deg);
        -ms-transform: translateX(-75%) rotate(-40deg);
            transform: translateX(-75%) rotate(-40deg);
  }

  ._spoller-init .menu-footer__title:not(:last-child)._spoller-active::after {
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg);
  }

  .listings__content {
    margin: 0 -0.9375rem;
  }

  .testimonials__slider {
    margin: 0 -0.9375rem;
  }

  .item-testimonials {
    padding: 1.25rem;
  }

  .contact-us__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .contact-us__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (any-hover: hover) {
  .author:hover .author__author-name {
    color: #FF8A63;
  }

  .author:hover .author__author-image-ibg img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .menu__link:hover {
    color: #FF8A63;
  }

  .footer__in:hover {
    color: #FF8A63;
  }

  .footer__facebook:hover {
    color: #FF8A63;
  }

  .footer__instagram:hover {
    color: #FF8A63;
  }

  .footer__twitter:hover {
    color: #FF8A63;
  }

  .menu-footer__link:hover {
    text-decoration: underline;
  }

  .menu-footer__button:hover {
    background-color: #FF8A63;
  }

  .listings__link:hover {
    color: #FF8A63;
  }

  .listings__link:hover:before {
    color: #45525B;
  }

  .item-listings:hover .item-listings__apartment-address {
    color: #FF8A63;
  }

  .content-people__link:hover {
    color: #FF8A63;
  }

  .content-people__link:hover:before {
    color: #45525B;
  }

  .newsroom__link:hover {
    color: #FF8A63;
  }

  .newsroom__link:hover:before {
    color: #45525B;
  }

  .item-newsroom:hover .item-newsroom__group-title {
    text-decoration: underline;
  }

  .item-newsroom:hover .item-newsroom__image-ibg img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .testimonials__swiper-button-prev:hover {
    background-color: #FF8A63;
  }

  .testimonials__swiper-button-next:hover {
    background-color: #FF8A63;
  }

  .contact-us__link:hover {
    background-color: #FF8A63;
    color: #fff;
  }
}

.webp .main-block{ background: url(../img/main-block/main-background.webp) center/cover no-repeat; }